In [23]:
import altair as alt
import pandas as pd
import numpy as np
%pip install --upgrade scikit-learn

edu_career_data = pd.read_csv('education_career_success.csv')
edu_career_data

Requirement already satisfied: scikit-learn in c:\users\altti\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\altti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\altti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\altti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\altti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

,Student_ID,Age,Gender,High_School_GPA,SAT_Score,University_Ranking,University_GPA,Field_of_Study,Internships_Completed,Projects_Completed,Certifications,Soft_Skills_Score,Networking_Score,Job_Offers,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level,Work_Life_Balance,Entrepreneurship
0,S00001,24,Male,3.58,1052,291,3.96,Arts,3,7,2,9,8,5,27200.0,4,5,Entry,7,No
1,S00002,21,Other,2.52,1211,112,3.63,Law,4,7,3,8,1,4,25000.0,1,1,Mid,7,No
2,S00003,28,Female,3.42,1193,715,2.63,Medicine,4,8,1,1,9,0,42400.0,9,3,Entry,7,No
3,S00004,25,Male,2.43,1497,170,2.81,Computer Science,3,9,1,10,6,1,57400.0,7,5,Mid,5,No
4,S00005,22,Male,2.08,1012,599,2.48,Engineering,4,6,4,10,9,4,47600.0,9,5,Entry,2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S04996,26,Female,2.44,1258,776,2.44,Arts,3,7,3,8,5,5,31500.0,9,5,Mid,7,No
4996,S04997,18,Female,3.94,1032,923,3.73,Law,0,9,3,6,4,5,41800.0,9,2,Entry,4,No
4997,S04998,19,Female,3.45,1299,720,2.52,Law,3,5,5,6,2,2,49500.0,2,5,Mid,6,No
4998,S04999,19,Male,2.70,1038,319,3.94,Law,1,4,5,5,1,5,54700.0,9,4,Entry,6,No
4999,S05000,23,Female,2.19,1145,82,3.19,Computer Science,2,6,0,5,8,2,57000.0,2,5,Senior,9,No

First clean up data.

In [35]:
# edu_career_data = edu_career_data.set_index('Student_ID')

def calculate_student_score(high_GPA, sat_score, uni_ranking, uni_GPA, internships, projects, ceritifications, soft_skills, networking):
    adjusted_sat = sat_score / 1600
    adjusted_uni_ranking = 1 - (uni_ranking / edu_career_data['University_Ranking'].max())
    return (high_GPA * 0.1) + (adjusted_sat * 0.1) + (adjusted_uni_ranking * 0.15) + (uni_GPA * 0.15) + (internships * 0.2) + (projects * 0.1) + (ceritifications * 0.05) + (soft_skills * 0.075) + (networking * 0.075)

def calculate_career_score(job_offers, starting_salary, career_satisfaction, years_to_promotion):
    max_offers = edu_career_data['Job_Offers'].max()
    max_salary = edu_career_data['Starting_Salary'].max()
    max_years = edu_career_data['Years_to_Promotion'].max()
    normalized_offers = job_offers / max_offers
    normalized_salary = starting_salary / max_salary
    normalized_satisfaction = career_satisfaction / 10 
    normalized_promotion = 1 - (years_to_promotion / max_years)
    
    return (0.25 * normalized_offers) + (0.4 * normalized_salary) + (0.1 * normalized_satisfaction) + (0.25 * normalized_promotion)


edu_career_data['Student_Score'] = edu_career_data.apply(
    lambda row: calculate_student_score(
        row['High_School_GPA'], 
        row['SAT_Score'], 
        row['University_Ranking'], 
        row['University_GPA'], 
        row['Internships_Completed'], 
        row['Projects_Completed'], 
        row['Certifications'], 
        row['Soft_Skills_Score'], 
        row['Networking_Score']
    ), axis=1)

edu_career_data['Career_Score'] = edu_career_data.apply(
    lambda row: calculate_career_score(
        row['Job_Offers'], 
        row['Starting_Salary'], 
        row['Career_Satisfaction'], 
        row['Years_to_Promotion'], 
    ), axis=1)

edu_career_data

,Student_ID,Age,Gender,High_School_GPA,SAT_Score,University_Ranking,University_GPA,Field_of_Study,Internships_Completed,Projects_Completed,...,Networking_Score,Job_Offers,Starting_Salary,Career_Satisfaction,Years_to_Promotion,Current_Job_Level,Work_Life_Balance,Entrepreneurship,Student_Score,Career_Score
0,S00001,24,Male,3.58,1052,291,3.96,Arts,3,7,...,8,5,27200.0,4,5,Entry,7,No,3.799100,0.397723
1,S00002,21,Other,2.52,1211,112,3.63,Law,4,7,...,1,4,25000.0,1,1,Mid,7,No,3.330388,0.509010
2,S00003,28,Female,3.42,1193,715,2.63,Medicine,4,8,...,9,0,42400.0,9,3,Entry,7,No,3.253812,0.357921
3,S00004,25,Male,2.43,1497,170,2.81,Computer Science,3,9,...,6,1,57400.0,7,5,Mid,5,No,3.632562,0.347327
4,S00005,22,Male,2.08,1012,599,2.48,Engineering,4,6,...,9,4,47600.0,9,5,Entry,2,No,3.728400,0.478515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S04996,26,Female,2.44,1258,776,2.44,Arts,3,7,...,5,5,31500.0,9,5,Mid,7,No,3.147225,0.464752
4996,S04997,18,Female,3.94,1032,923,3.73,Law,0,9,...,4,5,41800.0,9,2,Entry,4,No,2.829550,0.655545
4997,S04998,19,Female,3.45,1299,720,2.52,Law,3,5,...,2,2,49500.0,2,5,Mid,6,No,2.796187,0.316040
4998,S04999,19,Male,2.70,1038,319,3.94,Law,1,4,...,1,5,54700.0,9,4,Entry,6,No,2.328025,0.606634
4999,S05000,23,Female,2.19,1145,82,3.19,Computer Science,2,6,...,8,2,57000.0,2,5,Senior,9,No,2.881763,0.345743

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error
from sklearn.feature_selection import RFE

def model_parameters(reg, columns):
    """Returns a string with the linear regression model parameters for the given column names."""
    slopes = [f"{coef:.2f}({columns[i]})" for i, coef in enumerate(reg.coef_)]
    return " + ".join([f"{reg.intercept_:.2f}"] + slopes)

#field_of_study_data = edu_career_data[edu_career_data['Field_of_Study'] == 'Arts']
field_of_study_data = edu_career_data


column_x = 'Student_Score'
column_y = 'Career_Score'
# X = field_of_study_data[[column_x]]
X = field_of_study_data.drop(column_y, axis=1)
y = field_of_study_data[column_y]

features = ['University_GPA', 'Internships_Completed', 'Projects_Completed']

X_train, X_test, y_train, y_test = train_test_split(X[features], y, test_size=0.2)

rfe = RFE(LinearRegression(), step=1, n_features_to_select=0.5, verbose=1)
rfe.fit(X_train, y_train)

rfe_features = X.columns[[r == 1 for r in rfe.ranking_]]
print("Features:", list(rfe_features))

reg = rfe.estimator_

# reg = LinearRegression().fit(X, y)
# print("Model:", " + ".join([f"{reg.intercept_:.2f}"] + [f"{coef:.2f}({X.columns[i]})" for i, coef in enumerate(reg.coef_)]))
# print("Error:", mean_squared_error(y, reg.predict(X)))
print("Model:", model_parameters(reg, features))
print("Error:", root_mean_squared_error(y_test, reg.predict(X_test.loc[:, features])))

x_range = np.linspace(field_of_study_data[column_x].min(), field_of_study_data[column_x].max(), 100)
regression_df = pd.DataFrame({column_x: x_range})
regression_df[column_y] = reg.predict(regression_df[features])

scatter = alt.Chart(field_of_study_data).mark_circle(size=60, color='blue').encode(
    x=column_x,
    y=column_y
)

line = alt.Chart(regression_df).mark_line(color='red').encode(
    x=column_x,
    y=column_y
)

scatter + line

Fitting estimator with 3 features.
Fitting estimator with 2 features.

IndexError: boolean index did not match indexed array along dimension 0; dimension is 21 but corresponding boolean dimension is 3